In [1]:
import shutil
from tqdm import tqdm
import pandas as pd
import os

# 1. 데이터 로딩 및 폴더에 맞는 파일 이름 저장

In [2]:
df = pd.read_csv('sample.csv')
print(len(df))
df.head()

13600

,code,name,type,pm별 위반 유형,PM,위반 유형
0,14,C001164_022_0195_C_D_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반
1,14,S000156_001_0192_C_N_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반
2,14,C004034_000_0064_C_N_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반
3,14,S000352_016_0308_C_D_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반
4,14,F000067_000_1110_C_D_F_1.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반

In [3]:
 # 라벨 이름 생성
df['label_name'] = df.name.apply(lambda x: x.replace('.jpg', '.json'))
df.head()

,code,name,type,pm별 위반 유형,PM,위반 유형,label_name
0,14,C001164_022_0195_C_D_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,C001164_022_0195_C_D_F_0.json
1,14,S000156_001_0192_C_N_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,S000156_001_0192_C_N_F_0.json
2,14,C004034_000_0064_C_N_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,C004034_000_0064_C_N_F_0.json
3,14,S000352_016_0308_C_D_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,S000352_016_0308_C_D_F_0.json
4,14,F000067_000_1110_C_D_F_1.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,F000067_000_1110_C_D_F_1.json

In [4]:
# 각 폴더에 해당하는 파일이름만 저장.
bnf0 = df.loc[df.name.str.contains('B_N_F_0')].reset_index(drop=True)
bnr0 = df.loc[df.name.str.contains('B_N_R_0')].reset_index(drop=True) # 0개
bdf0 = df.loc[df.name.str.contains('B_D_F_0')].reset_index(drop=True)
bdr0 = df.loc[df.name.str.contains('B_D_R_0')].reset_index(drop=True)
bdf1 = df.loc[df.name.str.contains('B_D_F_1')].reset_index(drop=True)
bdr1 = df.loc[df.name.str.contains('B_D_R_1')].reset_index(drop=True)
cnf0 = df.loc[df.name.str.contains('C_N_F_0')].reset_index(drop=True)
cnr0 = df.loc[df.name.str.contains('C_N_R_0')].reset_index(drop=True)
cdf0 = df.loc[df.name.str.contains('C_D_F_0')].reset_index(drop=True)
cdr0 = df.loc[df.name.str.contains('C_D_R_0')].reset_index(drop=True)
cnf1 = df.loc[df.name.str.contains('C_N_F_1')].reset_index(drop=True)
cnr1 = df.loc[df.name.str.contains('C_N_R_1')].reset_index(drop=True)
cdf1 = df.loc[df.name.str.contains('C_D_F_1')].reset_index(drop=True)
cdr1 = df.loc[df.name.str.contains('C_D_R_1')].reset_index(drop=True)

In [5]:
len(bnf0) + len(bnr0) + len(bdf0) + len(bdr0) + len(bdf1) + len(bdr1) + \
    len(cnf0) + len(cnr0) + len(cdf0) + len(cdr0) + len(cnf1) + len(cnr1) + len(cdf1) + len(cdr1)

13600

In [33]:
# name_list = ['B_N_F_0', 'B_N_R_0', 'B_D_F_0', 'B_D_R_0', 'C_N_F_0', 
#              'C_N_R_0', 'C_D_F_0', 'C_D_R_0', 'C_N_F_1', 'C_N_R_1', 'C_D_F_1', 'C_D_R_1']
# cont = '|'.join(name_list)
# df[~df['name'].str.contains(cont)]

,code,name,type,pm별 위반 유형,PM,위반 유형
985,14,T014534_019_0120_B_D_F_1.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반
1182,22,T014525_016_0420_B_D_F_1.jpg,위반,자전거 탑승자_보행자도로 통행 위반,자전거,보행자도로 통행 위반
1270,22,T014422_036_0900_B_D_F_1.jpg,위반,자전거 탑승자_보행자도로 통행 위반,자전거,보행자도로 통행 위반
1278,22,T014416_000_0330_B_D_F_1.jpg,위반,자전거 탑승자_보행자도로 통행 위반,자전거,보행자도로 통행 위반
1680,22,T014301_009_0390_B_D_F_1.jpg,위반,자전거 탑승자_보행자도로 통행 위반,자전거,보행자도로 통행 위반
...,...,...,...,...,...,...
13591,28,T015219_017_0030_B_D_F_1.jpg,정상,킥보드 탑승자,킥보드,정상
13594,28,T014425_016_0810_B_D_F_1.jpg,정상,킥보드 탑승자,킥보드,정상
13595,28,T014419_013_0066_B_D_F_1.jpg,정상,킥보드 탑승자,킥보드,정상
13597,28,T014411_004_0308_B_D_F_1.jpg,정상,킥보드 탑승자,킥보드,정상
13599,28,T014398_096_0110_B_D_F_1.jpg,정상,킥보드 탑승자,킥보드,정상

# 2. 이미지 파일 이동

In [7]:
abs_path = '...'

In [89]:
# 이미지 파일이면 sample에, 라벨링 파일이면 sample_label 폴더에 저장.
def move_file(file_path, name_list, label = False):
    if label == False:
        for file_name in tqdm(name_list['name']):
            shutil.copy(abs_path + file_path + file_name,
                        abs_path + 'data/sample')
    else:
        for file_name in tqdm(name_list['label_name']):
            shutil.copy(abs_path + file_path + file_name,
                        abs_path + 'data/sample_label')

In [61]:
bnf0_path = 'data/input/블랙박스/야간/맑음/실증/'
bdf0_path = 'data/input/블랙박스/주간/맑음/실증/'
bdr0_path = 'data/input/블랙박스/주간/우천/실증/'
bdf1_path = 'data/input/블랙박스/주간/맑음/연출/'
bdr1_path = 'data/input/블랙박스/주간/우천/연출/'
cnf0_path = 'data/input/CCTV/야간/맑음/실증/'
cnr0_path = 'data/input/CCTV/야간/우천/실증/'
cdf0_path = 'data/input/CCTV/주간/맑음/실증/'
cdr0_path = 'data/input/CCTV/주간/우천/실증/'
cnf1_path = 'data/input/CCTV/야간/맑음/연출/'
cnr1_path = 'data/input/CCTV/야간/우천/연출/'
cdf1_path = 'data/input/CCTV/주간/맑음/연출/'
cdr1_path = 'data/input/CCTV/주간/우천/연출/'

In [63]:
move_file(bnf0_path, bnf0)

100%|██████████| 4/4 [00:00<00:00, 308.22it/s]

In [62]:
move_file(bdf0_path, bdf0)

100%|██████████| 52/52 [00:00<00:00, 207.81it/s]

In [64]:
move_file(bdr0_path, bdr0)

100%|██████████| 8/8 [00:00<00:00, 244.02it/s]

In [65]:
move_file(bdf1_path, bdf1)

100%|██████████| 598/598 [00:01<00:00, 352.41it/s]

In [66]:
move_file(bdr1_path, bdr1)

100%|██████████| 12/12 [00:00<00:00, 122.50it/s]

In [67]:
move_file(cnf0_path, cnf0)

100%|██████████| 1383/1383 [00:03<00:00, 351.27it/s]

In [68]:
move_file(cnr0_path, cnr0)

100%|██████████| 38/38 [00:00<00:00, 309.52it/s]

In [69]:
move_file(cdf0_path, cdf0)

100%|██████████| 6208/6208 [00:19<00:00, 325.75it/s]

In [70]:
move_file(cdr0_path, cdr0)

100%|██████████| 303/303 [00:00<00:00, 367.87it/s]

In [71]:
move_file(cnf1_path, cnf1)

100%|██████████| 13/13 [00:00<00:00, 133.31it/s]

In [72]:
move_file(cnr1_path, cnr1)

100%|██████████| 2/2 [00:00<00:00, 231.13it/s]

In [73]:
move_file(cdf1_path, cdf1)

100%|██████████| 4889/4889 [00:16<00:00, 301.55it/s]

In [74]:
move_file(cdr1_path, cdr1)

100%|██████████| 90/90 [00:00<00:00, 175.62it/s]

In [8]:
sample = os.listdir(abs_path + 'data/sample')
len(sample) # 이미지 파일이 불러와지지 않는 경우도 있음. 약 200개 정도 누락됐는데 큰 문제 없음
# 실제 이미지 갯수는 13323갠데 DS_Store 파일이 포함되어 있어서 13324로 나옴.

13324

# 3. 라벨 파일 이동

In [80]:
bnf0_label = 'data/label/블랙박스/야간/맑음/실증/'
bdf0_label = 'data/label/블랙박스/주간/맑음/실증/'
bdr0_label = 'data/label/블랙박스/주간/우천/실증/'
bdf1_label = 'data/label/블랙박스/주간/맑음/연출/'
bdr1_label = 'data/label/블랙박스/주간/우천/연출/'
cnf0_label = 'data/label/CCTV/야간/맑음/실증/'
cnr0_label = 'data/label/CCTV/야간/우천/실증/'
cdf0_label = 'data/label/CCTV/주간/맑음/실증/'
cdr0_label = 'data/label/CCTV/주간/우천/실증/'
cnf1_label = 'data/label/CCTV/야간/맑음/연출/'
cnr1_label = 'data/label/CCTV/야간/우천/연출/'
cdf1_label = 'data/label/CCTV/주간/맑음/연출/'
cdr1_label = 'data/label/CCTV/주간/우천/연출/'

In [82]:
sample_lab = [x.replace('.jpg', '.json') for x in sample]
sample_lab[0]

'F000011_002_6280_C_D_F_1.json'

In [91]:
move_file(bnf0_label, bnf0, True)

100%|██████████| 4/4 [00:00<00:00, 366.36it/s]

In [96]:
move_file(bdf0_label, bdf0, True)

100%|██████████| 52/52 [00:00<00:00, 189.77it/s]

In [97]:
move_file(bdr0_label, bdr0, True)

100%|██████████| 8/8 [00:00<00:00, 287.58it/s]

In [98]:
move_file(bdf1_label, bdf1, True)

100%|██████████| 598/598 [00:01<00:00, 489.20it/s]

In [99]:
move_file(bdr1_label, bdr1, True)

100%|██████████| 12/12 [00:00<00:00, 101.53it/s]

In [100]:
move_file(cnf0_label, cnf0, True)

100%|██████████| 1383/1383 [00:02<00:00, 470.96it/s]

In [101]:
move_file(cnr0_label, cnr0, True)

100%|██████████| 38/38 [00:00<00:00, 355.40it/s]

In [102]:
move_file(cdf0_label, cdf0, True)

100%|██████████| 6208/6208 [00:14<00:00, 433.65it/s]

In [103]:
move_file(cdr0_label, cdr0, True)

100%|██████████| 303/303 [00:00<00:00, 509.20it/s]

In [104]:
move_file(cnf1_label, cnf1, True)

100%|██████████| 13/13 [00:00<00:00, 350.23it/s]

In [105]:
move_file(cnr1_label, cnr1, True)

100%|██████████| 2/2 [00:00<00:00, 242.60it/s]

In [106]:
move_file(cdf1_label, cdf1, True)

100%|██████████| 4889/4889 [00:11<00:00, 413.88it/s]

In [107]:
move_file(cdr1_label, cdr1, True)

100%|██████████| 90/90 [00:00<00:00, 352.31it/s]

In [9]:
label = os.listdir(abs_path + 'data/sample_label')
len(label)

13323

In [23]:
for i in sample:
    if 'jpg' not in i:
        print(i)

.DS_Store
0

In [26]:
sample.index('.DS_Store')

1980

In [27]:
sample.remove('.DS_Store')
len(sample)

13323

In [29]:
test = os.listdir(abs_path)
print(test)
print(len(test)) # DS 파일이 실제로는 안 보이는데 listdir함수 쓰면 나옴. 신경 X

['eda.ipynb', 'make_yolo_label_file.ipynb', '.DS_Store', 'mobility.yaml', 'yolov5_label', 'sample.csv', 'yolov5', 'train.py', 'move_file.ipynb', 'data']
10

In [42]:
# 실제 사용할 13,324 파일들만 추출
df_sample1 = pd.DataFrame(sample, columns = ['file_name'])
display(df_sample1.head())
print(len(df_sample1))

                      file_name
0  F000011_002_6280_C_D_F_1.jpg
1  T015342_002_0153_C_D_F_1.jpg
2  S000403_027_0192_C_D_F_0.jpg
3  T004936_031_0056_C_D_F_0.jpg
4  S000232_005_0072_C_D_F_0.jpg

13323

In [40]:
df_sample1.file_name.head()

0    F000011_002_6280_C_D_F_1.jpg
1    T015342_002_0153_C_D_F_1.jpg
2    S000403_027_0192_C_D_F_0.jpg
3    T004936_031_0056_C_D_F_0.jpg
4    S000232_005_0072_C_D_F_0.jpg
Name: file_name, dtype: object

In [49]:
df.name.duplicated().sum()

277

In [48]:
df2 = df.drop_duplicates()
print(len(df2))
df_sample = df2.loc[df2.name.isin(df_sample1.file_name)]
display(df_sample.head())
print(len(df_sample))

13323

,code,name,type,pm별 위반 유형,PM,위반 유형,label_name
0,14,C001164_022_0195_C_D_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,C001164_022_0195_C_D_F_0.json
1,14,S000156_001_0192_C_N_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,S000156_001_0192_C_N_F_0.json
2,14,C004034_000_0064_C_N_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,C004034_000_0064_C_N_F_0.json
3,14,S000352_016_0308_C_D_F_0.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,S000352_016_0308_C_D_F_0.json
4,14,F000067_000_1110_C_D_F_1.jpg,위반,오토바이 탑승자_보행자도로 통행 위반,오토바이,보행자도로 통행 위반,F000067_000_1110_C_D_F_1.json

13323

In [50]:
df_sample.to_csv('sample_file_name.csv', index = False)